html {
     background-color: black;
}
* {
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     box-sizing: border-box;
     margin: 0px 0px 12px 0px;
     padding: 0px;
}
.a-tag {
     display: flex;
     justify-content: center;
}
a {
     color: rgba(0, 102, 204, 1);
     text-decoration: none;
     margin: 15px;
     font-size: 21px;
     font-weight: 400;
     margin-right: 40px;

}
nav {
     background-color: rgba(0, 0, 0, 0.8);
     position: sticky;
     top: 0px;
}
nav ul {
     display: flex;
     max-width: 1280px;
     margin: 0px auto;
     list-style: none;
     justify-content: space-around;
     align-items: center;
}
nav ul li {
     color: white;
     padding: 12px;
}
/* first section  */
#first {
     background-color: rgba(251, 251, 253, 1);
     margin: 0px auto;
     max-width: 1512px;
}
#main1 {
     width: 665px;
     margin: 0px auto;
}
#first h1 {
     font-size: 56px;
     text-align: center;
     padding-top: 95px;
}
#first h2 {
     font-size: 28px;
     font-weight: 400;
     text-align: center;
}
/* second section */
#second {
     background-color: black;
     margin: 0px auto;
     max-width: 1512px;
}
#main2 {
     max-width: 870px;
     height: 692px;
     margin: 0px auto;
     background-image: url(/images/figure\(1\).png);
}
#second h1 {
     color: white;
     font-size: 56px;
     text-align: center;
     padding-top: 50px;
}
#second h2 {
     color: white;
     font-size: 28px;
     font-weight: 400;
     text-align: center;
}
/* third section  */
#third {
     background-color: rgba(251, 251, 253, 1);
     max-width: 1512px;
     margin: 0px auto;
}
#main3 {
     max-width: 1300px;
     margin: 0px auto;
}
#watch {
     background-image: url(/images/h2.png);
     width: 100%;
     height: 71px;
     margin: 0px auto;
     background-position: center;
}
#third h2 {
     font-size: 28px;
     font-weight: 400;
     text-align: center;
     margin: 12px auto;
}
/* fourth section */
.row2 {
     display: flex;
     max-width: 1512px;
     margin: 0 auto;
     background-color: white;
     justify-content: space-evenly;
}
#content-a4 {
     background: url(/images/figure\(3\).png);
     height: 580px;
     width: 738px;
}
#content-a4 img {
     margin: 60px 150px 10px 150px;    
}
#content-a4 h2 {
     color: white;
     font-size: 21px;
     font-weight: 400;
     text-align: center;
}
#content-b4 {
     background: url(/images/figure\(4\).png);
     height: 580px;
     width: 738px;
}
#content-b4 h1 {
     color: white;
     font-size: 40px;
     margin-top: 50px;
     text-align: center;
}
#content-b4 h2 {
     color: white;
     text-align: center;
     font-size: 21px;
     font-weight: 400;
}
/* fifth section */
#main-5a {
     background-image: url(/images/figure\(5\).png);
     height: 580px;
     width: 738px;
}
#main-5a img{
     margin: 60px 150px 10px 150px;
}
#main-5a h2 {
     font-size: 21px;   
     font-weight: 400;
     text-align: center;
}
#main-5b {
     background-image: url(/images/figure\(6\).png);
     height: 580px;
     width: 738px;
}
#main-5b img{
     margin: 60px 150px 10px 150px;
}
#main-5b h2 {
     font-size: 21px;
     font-weight: 400;
     text-align: center;
}
#main-5b p {
     text-align: center;
     color: #86868B;
     margin-top: 355px;
}
/* sixth section */
#main6a {
     background-image: url(/images/macbook.png);
     width: 738px;
     height: 580px;
}
#main6a h1 {
     font-size: 40px;
     text-align: center;
     margin-top: 50px;
}
#main6a img {
     margin: 0px 150px 10px 150px;
}
#main6b {
     background-image: url(/images/apple\ card.png);
     width: 738px;
     height: 580px;
}
#main6b img {
     margin: 50px 150px 10px 150px;
}
#main6b h2 {
     font-size: 21px;
     font-weight: 400;
     text-align: center;
}
/* seventh section */
#seventh {
    max-width: 1512px;
    margin: 0 auto;    
    background-color: #F5F5F7;
}
#main-text {
     max-width: 980px;
     margin: 0px auto; 
 
}
#main-text p {
     color: #6E6E73;
     /* margin-left: 260px; */
     font-size: 12px;
}
#text {
     display: flex;
     justify-content: space-around ;
     margin-top: 21px;
     border-top: solid 1px #424245;
}
#text ul{
     margin-top: 20px;
}
#text ul li {
     color: #424245;
     font-size: 12px;
}